<div class="picture-item__header">
  <div class="picture-item__title"><%= title %></div>
  <div class="picture-item__description">by
    <a
      href="<%= link %>"
      target="_blank">
      <%= author %>
    </a>
  </div>
</div>

<div class="picture-item__image">
  <div class="picture-item__loader">
    <img src="images/svg-loaders/tail-spin.svg"/>
  </div>
</div>
