$font-family-base: 'Lato', sans-serif;

$brand-primary: #0063DC;
$brand-secondary: #FF0084;

$picture-item-width: 280px;
$picture-item-margin: 8px;
$picture-item-image-height: 180px;
$picture-item-image-bg: #C2C2C2;
