.picture-item {
  min-width: $picture-item-width;
  max-width: $picture-item-width;
  margin: $picture-item-margin;

  &__header {
    padding: 8px 0;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $picture-item-image-height;
    background-color: $picture-item-image-bg;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: white solid 4px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
    transition: all 1s;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__title,
  &__description {
    width: 100%;
    text-align: right;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    color: $brand-primary;
  }
}
